* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 1px solid black;
    --padding: 2px;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: darkblue;
    border-bottom: var(--border);
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 70px;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    margin-bottom: 10px;
}

p {
    padding: 0px;
}

main {
    max-width: 800px;
    margin: 1rem;
    grid-column: 2/3
}

aside img {
    width: 200px;
    height: auto;

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px #333;

}

footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selector */
.box {
    clear: right;
    margin: 1rem;
    border: 5px solid rgba(9, 0, 0, 0.1);
    padding: 15px 30px;
    background-color: #bbb;
    color: #333;
}

.grid {
    display: grid;
    align-items: center;

}